.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

.loader {
    width: 64px;
    height: 64px;
    border: 6px solid var(--bg-tertiary);
    border-bottom-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}